@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--chefchaouen-blue);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: var(--jordy-blue);
}

body {
    width: 95vw;
    height: 100vh;
    margin: auto;
}

main {
    padding: 10px 20px;
}

main header > h1 {
    background-color: var(--chrysler-blue);
    padding: 15px 0px;
    font-family: "Christmas", cursive;
    font-size: 3em;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(127, 211, 152, 0.733);
    color: var(--uranian-blue);
    border-radius: 20px;
}

header > h1 {
    text-shadow: 2px 2px 2px rgb(131, 124, 70);
}

div {
    display: flex;
    justify-content: center;
}

#menu .opcao {
    display: flex;
}

.opcao > a {
    background-color: var(--neon-blue);
    align-content: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 1px 1px rgba(10, 118, 126, 0.747);
    color: var(--uranian-blue);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: var(--chrysler-blue);
    transition-duration: .5s;
    text-decoration: underline;
}

#autor > h1{
    background-color: rgba(121, 182, 233, 0.644);
    border-radius: 10px;
    padding: 5px;
    text-decoration: underline;
    margin-top: 10px;
    text-align: center;
}

#autor {
    color: var(--chrysler-blue);
    font-size: 1.5em;
    font-family: "Unifra";
    text-shadow: 2px 2px 2px rgba(184, 236, 240, 0.822);
}

.container {
    display: flex;
    flex-direction: column; /* elementos ficam um abaixo do outro */
    align-items: center;    /* centraliza tudo na horizontal */
    text-align: center;     /* centraliza o texto dentro da div */
    padding: 20px;
}

.container img {
    width: 50%;     /* ocupa 50% da largura da tela */
    height: auto;   /* mantém a proporção original da imagem */
    max-width: 600px; /* limite opcional para não ficar grande demais em telas largas */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.589);
}

.img-box {
  width: 300px; /* tamanho da imagem */
  border: 3px solid #333;   /* cor e espessura da borda */
  border-radius: 10px;      /* cantos arredondados (opcional) */
  padding: 5px;             /* espaço entre imagem e borda */
  background-color: #0929dd; /* cor de fundo atrás da imagem */
}

.texto {
    flex-direction: column;
    padding: 20px;
    text-align: justify;
    font-size: 1.2em;
    font-family: "EBGaramound", Arial, Helvetica, sans-serif;
    color: var(--chrysler-blue);
    max-width: 1000px;
}

.texto > h3::first-letter {
    font-family: "Maxini", cursive;
    font-size: 2em;
    background-color: rgb(77, 17, 17);
    padding: 2px;
}

.texto > h3 {
    text-align: center;
}

.texto > p {
    text-indent: 20px;
}

a:hover {
    color: var(--uranian-blue);
}

footer {
    font-family: "EBGItalic", Arial, Helvetica, sans-serif;
    font-size: small;
}

footer > h1 {
    background-color: var(--chrysler-blue);
    color: var(--chefchaouen-blue);
    text-align: center;
    padding: 15px 0px;
}