@charset "UTF-8";

/* celulare*/
@media  screen and (min-width: 600px) and (max-width: 768 px) {
    main header > h1 {
        max-width: 768px;
    }
}

/* Tablets*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    main header > h1 {
        max-width: 800px;
        margin: auto;        
    }
}

/* Computadores */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    main header > h1 {
        max-width: 850px;
        margin: auto;
    }
}

/* Grandes Telas*/
@media screen and (min-width: 1200px) {
    main header > h1 {
    max-width: 900px;
    margin: auto;
    }
}