@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--chocolate-cosmos);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: var(--princeton-orange);
}

body {
    width: 95vw;
    height: 100vh;
    margin: auto;
}

main {
    padding: 10px 20px;
}

main header > h1 {
    background-color: var(--engineering-orange);
    padding: 15px 15px;
    font-family: "Christmas", cursive;
    font-size: 3em;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(236, 206, 36, 0.733);
    color: var(--orange-web);
    border-radius: 20px;
}

header > h1 {
    text-shadow: 2px 2px 2px rgba(49, 45, 10, 0.719);
}

div {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;            /* coloca os filhos lado a lado   */
    justify-content: center;  /* centraliza horizontalmente     */
    align-items: center;      /* centraliza verticalmente       */
    flex-wrap: wrap;          /* quebra linha em telas pequenas */
    gap: 10px;                /* espaço entre itens             */
    margin: 20px 0;
}

.opcao a {
    display: block; /* ocupa todo o bloco clicável */
    padding: 8px 14px;
    background: var(--engineering-orange);
    color: var(--uranian-blue);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 1px 1px rgba(225, 238, 39, 0.74);
}

.opcao a:hover {
    background: var(--persimmon);
    color: var(--rose-wood);
    transition: .3s;
}

.personagens h2{
    margin: 20px;
    padding: 10px 30px;
    font-size: 3em;
    color: var(--orange-web);
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.836);
    font-family: 'unifra', arial, sans-serif;
    background-color: var(--penn-red);
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(172, 107, 33, 0.74);
    text-align: center;
}

#arrelia {
    font-family: 'EBGItalic';
}

.container {
    display: flex;
    flex-direction: column; /* elementos ficam um abaixo do outro */
    align-items: center;    /* centraliza tudo na horizontal */
    text-align: center;     /* centraliza o texto dentro da div */
    padding: 20px;
}

.centro {
    text-align: center;
}

.container img {
    width: 50%;     /* ocupa 50% da largura da tela */
    height: auto;   /* mantém a proporção original da imagem */
    max-width: 400px; /* limite opcional para não ficar grande demais em telas largas */
    display: block;
    margin: 20px auto;
}

img {
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(255, 102, 0, 0.705);
}

.texto {
    flex-direction: column;
    padding: 20px;
    text-align: justify;
    font-size: 1.2em;
    font-family: "EBGaramound", Arial, Helvetica, sans-serif;
    color: var(--orange-web);
    max-width: 1000px;
    display: flex;
}

.texto > h3::first-letter {
    font-family: "Maxini", cursive;
    font-size: 4em;
    padding: 2px;
    text-shadow: 2px 2px 2px rgba(10, 8, 8, 0.781);
}

.texto > h3 {
    text-align: center;
}

.texto > p {
    text-indent: 20px;
}

.bloco {
    display: flex;
    flex-direction: column; /* padrão mobile */
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.bloco img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.bloco .descricao {
    text-align: justify;
}

a {
    color: var(--engineering-orange);
    font-weight: bold;
    padding: 0px 5px;
}

a:hover {
    background-color: var(--engineering-orange);
    color: black;
}

footer {
    font-family: "EBGItalic", Arial, Helvetica, sans-serif;
    font-size: small;
}

footer > h1 {
    background-color: var(--orange-web);
    text-align: center;
    padding: 15px 0px;
}