@charset "UTF-8";

/* celulare*/
@media  screen and (min-width: 600px) and (max-width: 768 px) {
    main header > h1 {
        max-width: 768px;
    }

    body, html {
        height: 100%;
    }

    body {
        display: flex;
        min-height: 100vh;
    }

    .container {
        min-height: 100vh;
    }
}

/* Tablets*/
@media screen and (min-width: 769px) and (max-width: 992px) {

    html {
        font-size: 1.1em;
    }

    main header > h1 {
        max-width: 800px;
        margin: auto;        
    }

    .texto {
        margin: auto;
        max-width: 800px;
    }

    .bloco {
        flex-direction: row;     /* imagem e texto lado a lado */
        align-items: center; /* alinha pelo centro */
        gap: 30px;
    }

    .bloco:nth-child(even) {
        flex-direction: row-reverse; /* alterna lados se quiser variar */
    }

    .bloco img {
        flex: 0 0 40%;   /* imagem ocupa 40% */
        max-width: 450px;
    }

    .bloco .descricao {
        flex: 1;         /* texto usa o restante */
    }

    footer {
        margin: 0;
    }
  
}

/* Computadores */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    main header > h1 {
        max-width: 850px;
        margin: auto;
    }

    .texto {
      max-width: 1000;
      margin: auto;
    }

  html {
    font-size: 1.3em;
  }

  .bloco {
        flex-direction: row;     /* imagem e texto lado a lado */
        align-items: center; /* alinha pelo centro */
        gap: 30px;
        flex-direction: center;
    }
    .bloco:nth-child(even) {
        flex-direction: row-reverse; /* alterna lados se quiser variar */
    }
    .bloco img {
        flex: 0 0 40%;   /* imagem ocupa 40% */
        max-width: 450px;
    }
    .bloco .descricao {
        flex: 1;         /* texto usa o restante */
    }
}

/* Grandes Telas*/
@media screen and (min-width: 1200px) {
    html {
        font-size: 1.5em;
    }

    main header > h1 {
    max-width: 900px;
    margin: auto;
    }

    .texto {
      margin: auto;
      max-width: 1200px;
    }

    .bloco {
        flex-direction: row;     /* imagem e texto lado a lado */
        align-items: center; /* alinha pelo centro */
        gap: 30px;
    }
    .bloco:nth-child(even) {
        flex-direction: row-reverse; /* alterna lados se quiser variar */
    }
    .bloco img {
        flex: 0 0 40%;   /* imagem ocupa 40% */
        max-width: 450px;
    }
    .bloco .descricao {
        flex: 1;         /* texto usa o restante */
    }
}