@charset "UTF=8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: white;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
}

p {
    font-size: 1.3em;
}

main {
    padding: 10px 20px;
}

main header > h1 {
    background-color: var(--azul-celestial);
    padding: 15px 15px;
    font-family: "Christmas", cursive;
    font-size: 3em;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(5, 28, 43, 0.733);
    color: var(--azul-marinho);
    border-radius: 20px;
}

header > h1 {
    text-shadow: 2px 2px 2px rgba(226, 226, 199, 0.719);
}

div {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;            /* coloca os filhos lado a lado   */
    justify-content: center;  /* centraliza horizontalmente     */
    align-items: center;      /* centraliza verticalmente       */
    flex-wrap: wrap;          /* quebra linha em telas pequenas */
    gap: 10px;                /* espaço entre itens             */
    margin: 20px 10px;
}

.opcao a {
    display: block; /* ocupa todo o bloco clicável */
    padding: 8px 14px;
    background: var(--azul-celestial);
    color: var(--azul-marinho);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 1px 1px rgba(42, 50, 172, 0.74);
}

.opcao a:hover {
    background: var(--azul-marinho);
    color: var(--azul-celeste);
    transition: .3s;
}

.personagens h2{
    margin: 20px;
    padding: 10px 30px;
    font-size: 3em;
    color: var(--azul-marinho);
    text-shadow: 2px 3px 2px rgba(236, 236, 232, 0.836);
    background-color: var(--azul-celeste);
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(10, 32, 94, 0.74);
    text-align: center;
    font-family: 'unifra', arial, sans-serif;
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(15, auto);
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

.texto {
    display: flex;
    flex-direction: column;
    text-indent: 30px;
    padding: 10px 10px 10px 25px;
    text-align: justify;
    max-width: 1200px;
    margin: 0 auto;
}

.imagem >img {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

#a1 {grid-area: 1 / 1 / 2 / 2;}
#a2 {grid-area: 1 / 2 / 2 / 3;}
#a3 {grid-area: 2 / 1 / 3 / 3;}
#a4 {grid-area: 3 / 1 / 4 / 3;}
#a5 {grid-area: 4 / 1 / 5 / 2;}
#a6 {grid-area: 4 / 2 / 5 / 3;}
#a7 {grid-area: 5 / 1 / 6 / 3;}
#a8 {grid-area: 6 / 1 / 7 / 3;}
#a9 {grid-area: 7 / 1 / 8 / 2;}
#a10 {grid-area: 7 / 2 / 8 / 3;}
#a11 {grid-area: 8 / 1 / 9 / 3;}
#a12 {grid-area: 9 / 1 / 10 / 3;}
#a13 {grid-area: 10 / 1 / 11 / 3;}
#a14 {grid-area: 11 / 1 / 12 / 3;}
#a15 {grid-area: 12 / 1 / 13 / 3;}

#a1 p:first-of-type::first-letter {
    font-family: 'Maxini';
    font-size: 4em;
}

#a15 > h3 {
    font-family: 'EBGItalic';
    padding: 10px;
    color: var(--azul-claro);
    background-color: var(--azul-violeta);
    font-size: 1.4em;
}

.rodapé {
    background-color: var(--azul-violeta);
}